/* styles.css */

/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.box {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
    align-items: center;
}

input[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 10px;
    font-weight: bold;
    color: #ff0000;
}

#bgImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    border: solid 2px #010810;
    border-radius: 8px;
}
